<div align="center">
<h1>
  Welcome to Component 1
</h1>
<br><hr><br>

<p>
  This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag. This is being printed in the paragraph tag.
</p>

<table appTabledir border="3" >
  <tr>
    <th>Heading 1</th>
    <th>Heading 2</th>
    <th>Heading 3</th>
    <th>Heading 4</th>
    <th>Heading 5</th>
    <th>Heading 6</th>
    <th>Heading 7</th>
    <th>Heading 8</th>
  </tr>
  <tr>
    <td>Heading 1</td>
    <td>Heading 2</td>
    <td>Heading 3</td>
    <td>Heading 4</td>
    <td>Heading 5</td>
    <td>Heading 6</td>
    <td>Heading 7</td>
    <td>Heading 8</td>
  </tr>
  <tr>
    <td>Heading 1</td>
    <td>Heading 2</td>
    <td>Heading 3</td>
    <td>Heading 4</td>
    <td>Heading 5</td>
    <td>Heading 6</td>
    <td>Heading 7</td>
    <td>Heading 8</td>
  </tr>
  <tr>
    <td>Heading 1</td>
    <td>Heading 2</td>
    <td>Heading 3</td>
    <td>Heading 4</td>
    <td>Heading 5</td>
    <td>Heading 6</td>
    <td>Heading 7</td>
    <td>Heading 8</td>
  </tr>
  <tr>
    <td>Heading 1</td>
    <td>Heading 2</td>
    <td>Heading 3</td>
    <td>Heading 4</td>
    <td>Heading 5</td>
    <td>Heading 6</td>
    <td>Heading 7</td>
    <td>Heading 8</td>
  </tr>
</table>

<br><hr><br>
</div>
